<plugin name='portlets' version='0.9.2' grailsVersion='2.0 &gt; *'>
  <author>Kenji Nakamura, Philip Wu</author>
  <authorEmail>kenji_nakamura@diva-america.com</authorEmail>
  <title>Portlets Plugin</title>
  <description>\
Generate JSR-168 compliant portlet war. 
</description>
  <documentation>http://grails.org/plugins/portlets</documentation>
  <type>PortletsGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
  </repositories>
  <dependencies>
    <provided>
      <dependency group='javax.portlet' name='portlet-api' version='2.0' />
    </provided>
    <runtime>
      <dependency group='org.springframework' name='spring-webmvc-portlet' version='3.0.5.RELEASE' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>