<plugin name='portlets' version='0.5' grailsVersion='1.1 &gt; *'>
  <author>Kenji Nakamura</author>
  <authorEmail>kenji_nakamura@diva-america.com</authorEmail>
  <title>Portlets Plugin</title>
  <description>\
Generate JSR-168 compliant portlet war. 
</description>
  <documentation>http://grails.org/plugins/portlets</documentation>
  <resources>
    <resource>Config</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
</plugin>